<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    {% include navbar.html %}

    <div class="container">
      {{ content }}
      
    <nav>
        <ul class="pager">
            {% if page.next %} <!-- Newer post -->
                <li class="previous"><a href="{{ page.next.url }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> {{ page.next.title }}</a></li>
            {% endif %}
            {% if page.previous %} <!-- Older post -->
                <li class="next"><a href="{{ page.previous.url }}">{{ page.previous.title }} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
            {% endif %}
        </ul>
    </nav>
    </div>

    {% include footer.html %}
    </body>
</html>